<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcVSG9VvHN6DkGyJrIhLQsDnQOJwBF5SA</string>
	<key>GCM_SENDER_ID</key>
	<string>690848410304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.GasApp</string>
	<key>PROJECT_ID</key>
	<string>gasapp-811d2</string>
	<key>STORAGE_BUCKET</key>
	<string>gasapp-811d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690848410304:ios:fb88b0b76844a312ed1b25</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to scan your SMS</string>

</dict>
</plist>